spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DS_URL:localhost}:${DS_PORT:5432}/${DS_DATABASE:tasklist_db}
    username: ${DS_USER:postgres}
    password: ${DS_PASS:postgres}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

cors:
  allowed-origins: http://localhost:5173,http://localhost
